#user {
    .back-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
    }

    .user-picture {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: 5px solid white;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    }

    .profile-data {
        max-width: 800px;
    }

    .vertical-separator {
        height: 100%;
        width: 1px;
        background-color: #949494;
    }
}